li {
    color: green;
}
ul > li{
    color:red;
}
.parent h2{
    color: violet;
}
.parent div h2{
    color: blue;
}
h1, h3, h4, p{
    color:crimson;
}
body div h3{
    color:black;
}