body{
   /*background: linear-gradient(to right, #ff8080, #ffe6e6);*/
    background-image: url(vegeta5.jpg);
    background-size: cover;
    
}
h1, h2, h3 {
    font-family: monospace;
    color: blue;
    text-align: center;
    text-shadow: 2px 2px black;
}
.square{
    height: 100px;
    width: 100px;
    background-color:darkgrey;
    margin: auto;
}
#circle{
    font-size: 100px;
    color: darkblue;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
#picture{
    height: 100;
    width: 100;
    border: 5px solid black;
    border-style: dashed;
}
ul li{
    font-size: 20px;
    color: blue;
}
ul > li{
    color: yellow;
}
