/*########################Default##########################*/
nav, header, footer {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
}
/*#####################NavBar#############################*/
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    background-color: lightgray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li {
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right {
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 15px;
    text-transform: uppercase;
    color: gray;
}

ul.topnav li a:hover {
    background-color: lightblue;
    color: white;
}

ul.topnav li.dropdown {
    display: none;
}

/*########################MediaQuery#######################*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdown {
    display: block;
        float: right;
}

