/*########################Default##########################*/
nav, header, footer {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
}
/*#####################NavBar#############################*/
nav {
    width: 100%;
    margin: 0;
}
nav ul {
    background-color: lightgray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li {
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right {
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 15px;
    text-transform: uppercase;
    color: gray;
}

ul.topnav li a:hover {
    background-color: lightblue;
    color: white;
}

ul.topnav li.dropdown {
    display: none;
}

/*#######################Column##############################*/
.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    
}
#section-1-gradient {
    background: lightblue;
    background: -webkit-linear-gradient(lightblue, white);
    background: -o-linear-gradient(lightblue, lightgray);
    background: -moz-linear-gradient(lightblue, lightgray);
    background: linear-gradient(lightblue, lightgray);
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}
.large {
    color: darkgray;
    margin: 0;
    line-height: 50px;
}
form h2 {
    color: darkgray;
}
input[type="text"] {
    padding: 4px;
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    border-radius: 7px;
}

.left-side-col {
    margin-left: 20%;
}
.right-side-col {
    margin-right: 5%;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*########################MediaQuery#######################*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdown {
    display: block;
    float: right;
    }
    
    ul.topnav.responsive li.dropdown {
       position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
       position: relative; 
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        text-align: left;
    }
    .left-side-col, .right-side-col {
        margin: 15px;
    }
    .col-6 {
        display: block;
        margin: 0;
        width: 100%;
    }
    .vidContainer video {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    input[type="text"] {
        width: 200px;
    }
    
}


