body{
   /*background: linear-gradient(to right, #ff8080, #ffe6e6);*/
/*
    background-image: url(vegeta5.jpg);
    background-size: cover;
    text-align: center;
*/
    font-family: "Tahoma", serif, sans-serif;
    text-align: Center;
}

h1 {
    font-style: oblique;
}
body div h1{
    font-size: 50px;
}
a{
    text-decoration: overline;
    letter-spacing: 10px;
    word-spacing: 30px;
    color: darkred;
}
#picture{
    height: 100;
    width: 100;
    border: 5px solid black;
    border-style: dashed;
}
ul li{
    font-size: 20px;
    color: blue;
}
ul > li{
    color: yellow;
}
