
body{
    font-family: 'Lobster';
    background-color: darkgray;
}


a{
    text-decoration: overline;
    letter-spacing: 10px;
    word-spacing: 30px;
    color: darkred;
}
img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 60px;
    margin-left: 40%;
    opacity: 0.7;
    
}
.picture{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid black;
    padding: 2px;
}
.but{
    border-radius: 12px;
    color: crimson;
    padding: 20px 20px 20px 20px;
    margin-left: 45%;
}
/*
ul li{
    font-size: 20px;
    color: blue;
}
ul > li{
    color: yellow;
}
*/
